body {
    margin: 0;
    padding: 0;
}
#background-container {
    background-image: url("pics/archivio.png");; /* Percorso dell'immagine */
    background-size: cover; /* Adatta l'immagine per coprire tutto l'elemento */
    background-position: center; /* Centra l'immagine */
    height: 50vh; /* Altezza della finestra del browser */
    /* Aggiungi altri stili desiderati */
}

#header {
    position: fixed;
    top: -100px; /* Nascondi l'intestazione all'inizio */
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Opacità per una migliore leggibilità */
    transition: top 0.3s ease-in-out; /* Aggiungi transizione per effetto di scorrimento */
    z-index: 1000; /* Assicura che l'intestazione sia sopra l'immagine di sfondo */
}

#header.visible {
    top: 0; /* Mostra l'intestazione quando l'utente scorre verso il basso */
}